/*Juan Fernando*/
header{background-color: #e18a8a;padding: 20px 0;}

.caja{width: 940px;position: relative; margin: 0 auto;}

button{padding: 10px;display: inline;margin: 0 0 0 15px;text-transform: uppercase;font-size: 25px; color: #612631;font-weight: bold;text-decoration: none;border-color: #612631;background-color: #e18a8a; cursor: pointer;}

.oscuro{background-color: #120f1f; color: #f1eded; }

nav{position: absolute;top: 110px;right: 0px;}

nav li{display: inline;margin: 0 0 0 15px;}

nav a{text-transform: uppercase;font-size: 25px; color: #612631;font-weight: bold;text-decoration: none;}

.Informacion{padding: 20px;}

.TituloInf {text-align: left;font-size: 30px; font-weight: bold;padding: 10px;}

p{text-align:left;padding: 10px;font-size: 20px;}

em strong{color:#612631;}

img{padding: 10px;margin: #612631;}

footer{background: url(PIE.png);text-align: center;padding: 10px; background-size: 100%;}

.copy{color: aliceblue;text-align: center;}

/*Jey*/


.galeria-imagen {
  padding-bottom: 15px;
  display: flex;
  height: 30rem;
  gap: 1rem;
  }

.galeria-imagen > div {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all  .8s cubic-bezier(.25, .4, .45, 1.4);
  
}  

.galeria-imagen > div:hover {
  flex: 5;

}

