html {
  background: #000;
}
h1 {
text-align: center;
background: #ccc;
background: radial-gradient(#eff1ff,#000);
font-family: system-ui;
font-size: 3rem;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;

}

img {
  display: block;
  margin: auto;
  width: 500px;
  height: 500px;
}
